.cab{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteiner{
    display: flex;
    align-items: center;
}
.conteiner_botao{
    display:none;
}
.cab_menu{
    width: 60px;
    height: 60px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.conteiner_img{
    padding: 1em;
}
.lista_menu{
  display: none;
  position: absolute;
  top: 90%;
  background-color: var(--branco);
  width: 40vw;  
  color: rgb(6, 5, 6);
}
.lista_menu_tit{
    color:rgb(46, 21, 158);
    font-weight: 800px;
}
.conteiner_botao:checked~.lista_menu{
    display: block;
}
.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
}
.quadrado {
    width: 400px;
    height: 400px;
    background-color: white;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-left: 530px;
    margin-top: 35px;
}
.quadrado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}
.quadrado p {
    font-size: 25px;
    color: #0a0909;
}
.quadrado1 {
    width: 400px;
    height: 400px;
    background-color: white;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    margin-left: 530px;
}
.quadrado1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}
.quadrado1 p {
    font-size: 25px;
    color: #040404;
}
