@charset "UTF-8";
body{
    background-color: rgb(79, 67, 83);
}
main{
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 20px;
    border-radius: 5px;
}
h1{
    text-align: center;
}
#txt{
    text-align: center;
}
form{
    text-align: center;
}
.btn{
    padding: 10px;
}
img{
    width: 500px;
    height: 300px;
}